/**
 * @package Tagregator
 */

/* Themes need some modification to be properly "full width" */
/* 2010, FW template */
body.tggr-page .one-column #content {
	width: 100%;
}
/* 2013 w/ no sidebar, 2014 FW template */
body.tggr-page:not(.sidebar) .entry-header,
body.tggr-page:not(.sidebar) .entry-content {
	max-width: 1024px;
}
/* 2012 & WC Base FW templates are OK */

#tggr-media-item-container {
	margin: 0;
	width: 100%;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

	/* Masonry Layout classes */
	.tggr-msnry-1 {
		margin-left: 1%;
		margin-right: 1%;
		width: 31%;
	}
	.tggr-msnry-2 {
		margin-left: 1%;
		margin-right: 1%;
		width: 98%;
	}

	.one-column .tggr-msnry-1,
	.one-column .tggr-msnry-2 {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.tggr-media-item {
		margin-top: 10px;
		margin-bottom: 10px;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

		.tggr-media-item iframe {
			margin: 0 !important;
			border: 1px solid #eee !important;
			border-radius: 3px !important;
			box-shadow: none !important;
			background-color: white;
		}

	.tggr-instagram,
	.tggr-google,
	.tggr-flickr,
	.tggr-tweets blockquote {
		position: relative;
		line-height: 1;

		padding: 15px;

		background: #fff;
		border: 1px solid #eee;
		border-radius: 3px;
		box-shadow: none;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

		.tggr-author-profile {
			margin: 0 0 10px;
			width: 100%;
			text-decoration: none;
			display: inline-block;
		}

			.tggr-author-profile:hover {
				text-decoration: none !important; /* Hover effect only on name/username, not entire a. */
			}

			.tggr-author-profile img {
				width: 50px !important; /* Overrides width: auto in WC Base */
				height: 50px !important; /* Overrides height: auto in WC Base */
			}

			.tggr-tweets .tggr-author-profile {
				margin: 0;
				display: inline;
			}

			.tggr-author-avatar {
				float: left;
				margin-right: 10px !important; /* Overrides margin: 0 in WC Base */
				border-radius: 3px;
			}

			.tggr-author-name {
				display: block;
				margin: 5px 0;
				font-size: 1.2em;
				font-weight: bold;
				color: #444;
			}

				.tggr-author-name:hover {
					text-decoration: underline;
				}

			.tggr-author-username {
				display: block;
				font-size: .9em;
				color: #888;
				color: rgba( 0, 0, 0, 0.5 );
			}

				.tggr-author-username:hover {
					text-decoration: underline;
					color: #555;
					color: rgba( 0, 0, 0, 0.8 );
				}

		.entry-content img.tggr-source-logo {
			position: absolute;
			top: 15px;
			right: 15px;
			font-size: 11px;
			color: rgba( 0, 0, 0, 0.3 );
			text-decoration: none;
			height: 20px !important; /* Overrides height: auto in WC Base */
		}

			.entry-content .tggr-media-item.tggr-instagram img.tggr-source-logo {
				top: 30px;
			}
			.entry-content .tggr-media-item.tggr-google img.tggr-source-logo {
				height: 35px !important; /* Overrides height: auto in WC Base */
			}

		.tggr-timestamp {
			position: absolute;
			bottom: 15px;
			left: 15px;
			font-size: 90%;
			color: rgba( 0, 0, 0, 0.3 );
			text-decoration: none;
		}

			.tggr-timestamp:hover {
				text-decoration: underline;
			}

		.tggr-item-content {
			margin: 0 0 1.5em;
			line-height: 1.7;
			font-size: 1em;
		}

			.tggr-item-content a.username {
				font-weight: 400;
				text-decoration: none;
			}

			.tggr-item-content a.tag {
				color: #999;
				color: rgba( 0, 0, 0, 0.4 );
				text-decoration: none;
				margin-left: 2px;
			}

			.tggr-item-content a:hover {
				text-decoration: underline;
			}

			.tggr-item-content img {
				margin-bottom: 10px;
				max-width: 100%;
			}

		.tggr-media-item .tggr-actions {
			list-style: none;
			margin: 0;
			padding: 0;
			opacity: 0;
			position: absolute;
			bottom: 5px;
			right: 5px;
			transition: opacity 0.2s ease-in-out;
		}

			.tggr-media-item:hover .tggr-actions {
				opacity: 1;
			}

			#tggr-media-item-container .tggr-actions li {
				display: inline-block;
				margin: 0 10px 0 0;
				padding: 0;
			}

			#tggr-media-item-container .tggr-actions a {
				text-decoration: none;
				color: #888;
				color: rgba(0,0,0,0.5);
				font-size: 15px;
			}

			#tggr-media-item-container .tggr-actions a span {
				margin-left: 2px;
				font-size: 11px;
				color: rgba(0,0,0,0.4);
			}

			#tggr-media-item-container .tggr-actions a:hover {
				color: #555;
				color: rgba(0,0,0,0.8);
			}

			#tggr-media-item-container .tggr-actions a:hover span {
				text-decoration: underline;
			}

#tggr-media-load-more {
	margin: 10px 0;
	text-align: center;
}

.loading #tggr-media-load-more {
	opacity: 0.5;
}

.loading #tggr-media-load-more,
.loading #tggr-media-load-more a {
	cursor: not-allowed;
}

/* Override default styles */
.tggr-page .entry-content img {
	border-radius: 0;
	box-shadow: none;
	max-width: 100% !important; /* to override the max-width in the wordcamp base */
}

.tggr-page .entry-content a {
	text-decoration: none;
}
.tggr-page .entry-content a:hover,
.tggr-page .entry-content a:active,
.tggr-page .entry-content a:focus {
	text-decoration: underline;
}

/*.tggr-page */

.no-js {}

	.no-js .tggr-media-item {
		float: left;
	}

	.no-js .tggr-media-item:nth-of-type(odd) {
		clear: left;
	}

	.no-js + #tggr-media-load-more {
		display: none;
	}

/* Media Queries */

@media screen and (max-width: 768px) {
	.tggr-msnry-1 {
		width: 48%;
	}
	.tggr-msnry-2 {
		width: 98%;
	}
}

@media screen and (max-width: 500px) {
	.tggr-msnry-1,
	.tggr-msnry-2 {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}
